main {
    display: flex;
    background-color: #e8eaf6;
}
main aside {
    min-width: 40%;
} 
@media screen and (max-width: 720px) {
    header {
        height: 200px;        
    }
    header h1 {
        font-size: 10rem;
    }
    #navigation {
        display:flex;
    }

    aside {
        display: flex;
        flex-wrap: wrap;
     
    }
    aside div {
        flex-basis: 50%;
    }
    main section {
        display: flex;
    }

    main {
        flex-wrap: wrap;
    }
    main section {
        order: 1;
    }
    main nav {
        order: 3;
    }
    main aside {
        order: 2;
    }
}
@media screen and (max-width: 250px) {
    section {
        flex-basis: 100%;
    }
}